.image-container-view{
    height: 560px;
    width: 500px;
    cursor: pointer;
}

.image-size-view{
    height: 550px;
    width: 450px;
}

.image-title-view{
    font-size: 20px;
    font-weight: 500;
}

.author-name{
    font-size: 18px;
    font-weight: 300;
}

.container{
    padding: 5%;
}