.homepage-container{
    padding: 5%;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media only screen and (max-device-width: 480px) {
    .image-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
